.table-container {
    text-align: center;
}

.table-container p {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-container table {
    margin: auto;
}

.table tr{
    background: rgb(131, 231, 181);
    color: black;
}

.table-container table thead tr {
    background-color: rgb(156, 197, 243);
}